.indents {
  width: 1080px;
  height: 840px;

}

.indents__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43.2px;

}

.indents__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  margin-top: 0;
}

.indents__group {
  float: left;
}

img {
  display: flex;
  float: inherit;
}

.indents__group2 {
  float: right;
  margin-top: 30px;
}